<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>
        <%=title%> - Cam 4
    </title>
    <script src="https://raw.githack.com/phoboslab/jsmpeg/master/jsmpeg.min.js"></script>
    <link rel="icon" type="image/x-icon" href="www/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="/styles.css">
    <style>
        .cam-container {
            margin: 0px auto;
            width: 640px;
        }

        .cam-canvas {
            height: 480px !important;
            width: 620px !important;
            background: black;
        }
    </style>
</head>

<body>
    <div class="container-header indigo topBotomBordersOut">
        <a href="/">HOME</a>
        <a href="/cam/1">DETAIL</a>
        <a href="/record">RECORD</a>
    </div>
    <div class="button-cam-record">
        <button class="add-camera">
            <div class="pretext">
                <i class="fa-solid fa-camera"></i><span>Take photo</span>
            </div>
        </button>
        <button class="add-record">
            <div class="pretext">
                <i class="fa-solid fa-record-vinyl"></i><span>Record</span>
            </div>
        </button>
    </div>
    <div class="cam-item" style="text-align: center; margin: 0 auto;    ">
        <canvas class="cam-canvas" id="canvas-cam1" width="500" height="360" style="border:1px solid"></canvas>
        <p class="cam-name">Cam 4</p>
    </div>
    <script>
        var name = sessionStorage.getItem('name');
        if (name != "undefined" && name != "null") {
        }
        else
            document.location.href = '/login';

        let player1 = new JSMpeg.Player('ws://<%=streamHost%>:84', {
            canvas: document.getElementById('canvas-cam1'), // Canvas should be a canvas DOM element
            autoplay: true,
            audio: false,
        });
    </script>
</body>

</html>