<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>
        <%=title%>
    </title>
    <script src="https://raw.githack.com/phoboslab/jsmpeg/master/jsmpeg.min.js"></script>
    <link rel="icon" type="image/x-icon" href="www/favicon.ico">
</head>

<body>
    <p>
        Hello world
    </p>
    <!-- <canvas id="canvas" width="640" height="480" style="height: 480px"></canvas> -->
    <!-- <video width="640" height="480" controls id="test"></video> -->
    <video width="320" height="240" controls="controls">
        <source src="" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <!-- <script>
        player = new JSMpeg.Player('ws://localhost:9999', {
            video: document.getElementById('test'), // Canvas should be a canvas DOM element
            autoplay: true,

        })
    </script> -->
</body>

</html>