<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>
        <%=title%>
    </title>
    <script src="https://raw.githack.com/phoboslab/jsmpeg/master/jsmpeg.min.js"></script>
    <link rel="icon" type="image/x-icon" href="www/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="/styles.css">

</head>

<body>
    <div class="container-header indigo topBotomBordersOut">
        <a href="/">HOME</a>
        <a href="/cam/1">DETAIL</a>
        <a href="/record">RECORD</a>
    </div>
    <h1 style="font-size: 40px; font-weight: 600; text-align: center">Streaming Camera</h1>
    <button class="add-camera">
        <div class="pretext">
            <i class="fa-solid fa-camera"></i><span>Add camera</span>
        </div>
        <div class="pretext done">
            <div class="posttext"><i class="fas fa-check"></i> ADDED</div>
        </div>
    </button>
    <div class="cam-container">
        <div class="cam-item">
            <canvas class="cam-canvas" id="canvas-cam1"
                style="border:1px solid; width: 500px !important; height: 360px !important;"></canvas>
            <div class="cam-name-editable">
                <a href="/cam/1" style="text-decoration: none"><span class="cam-name">Cam 1</span></a>
                <button class=" edit-name-btn" style="background-color: transparent; border: none"><i
                        class="fa-solid fa-pen-to-square fa-xl"></i></button>
                <div class="edit-name">
                    <input type="text" placeholder="New name" class="edit"></input>
                    <button style="background-color: transparent; border: none" class="send-name"><i
                            class="fa-solid fa-arrow-right"></i></button>
                </div>
            </div>
        </div>
        <div class="cam-item">
            <canvas class="cam-canvas" id="canvas-cam2"
                style="border:1px solid; width: 500px !important; height: 360px !important"></canvas>
            <div class="cam-name-editable">
                <a href="/cam/2" style="text-decoration: none"><span class="cam-name">Cam 2</span></a>
                <button class=" edit-name-btn" style="background-color: transparent; border: none"><i
                        class="fa-solid fa-pen-to-square fa-xl"></i></button>
                <div class="edit-name">
                    <input type="text" placeholder="New name" class="edit"></input>
                    <button style="background-color: transparent; border: none" class="send-name"><i
                            class="fa-solid fa-arrow-right"></i></button>
                </div>
            </div>

        </div>
        <div class="cam-item">
            <canvas class="cam-canvas" id="canvas-cam3"
                style="border:1px solid; width: 500px !important; height: 360px !important"></canvas>
            <div class="cam-name-editable">
                <a href="/cam/3" style="text-decoration: none"><span class="cam-name">Cam 3</span></a>
                <button class=" edit-name-btn" style="background-color: transparent; border: none"><i
                        class="fa-solid fa-pen-to-square fa-xl"></i></button>
                <div class="edit-name">
                    <input type="text" placeholder="New name" class="edit"></input>
                    <button style="background-color: transparent; border: none" class="send-name"><i
                            class="fa-solid fa-arrow-right"></i></button>
                </div>
            </div>
        </div>
        <div class="cam-item">
            <canvas class="cam-canvas" id="canvas-cam4"
                style="border:1px solid; width: 500px !important; height: 360px !important"></canvas>
            <div class="cam-name-editable">
                <a href="/cam/4" style="text-decoration: none"><span class="cam-name">Cam 4</span></a>
                <button class=" edit-name-btn" style="background-color: transparent; border: none"><i
                        class="fa-solid fa-pen-to-square fa-xl"></i></button>
                <div class="edit-name">
                    <input type="text" placeholder="New name" class="edit"></input>
                    <button style="background-color: transparent; border: none" class="send-name"><i
                            class="fa-solid fa-arrow-right"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="popup-add-camera">
        <div class="container">
            <span class="close">&times;</span>
            <h1>Add Camera</h1>
            <!-- <p>Please fill in this form to add camera</p> -->
            <hr>
            <label for="email"><b>ID</b></label>
            <input type="text" placeholder="Enter ID" name="email" class="input-camera" id="email" required>

            <label for="psw"><b>Name</b></label>
            <input type="text" placeholder="Enter Name" name="psw" class="input-camera" id="psw" required>

            <label for="psw-repeat"><b>Location</b></label>
            <input type="text" placeholder="Enter Location" class="input-camera" name="psw-repeat" required>

            <label for="psw-repeat"><b>Port</b></label>
            <input type="text" placeholder="Enter Port" class="input-camera" name="psw-repeat" required>

            <label for="psw-repeat"><b>Protocol</b></label>
            <input type="text" placeholder="Enter Protocol" class="input-camera" name="psw-repeat" required>

            <label for="psw-repeat"><b>URL</b></label>
            <input type="text" placeholder="Enter URL" class="input-camera" name="psw-repeat" required>
            <hr>

            <p style="color:red">By adding camera you agree to our <a href="#"></a>.</p>
            <button type="submit" class="addcamerabtn">Add Camera</button>
        </div>
    </div>
    <div class="alert success">
        <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
        <strong>Success!</strong> Bạn đã add camera thành công.
    </div>
    <script>

        var name = sessionStorage.getItem('name');
        if (name != "undefined" && name != "null") {
        }
        else
            document.location.href = '/login';

        const cameraButton = document.querySelector('.add-camera');
        const popupCamera = document.querySelector('.popup-add-camera');
        cameraButton.addEventListener('click', (event) => {
            console.log(popupCamera);
            popupCamera.style.display = 'block';
        })

        const closePopupCamera = document.querySelector('.close');
        closePopupCamera.addEventListener('click', () => {
            popupCamera.style.display = 'none';
        })

        const addCameraButton = document.querySelector('.addcamerabtn');
        addCameraButton.addEventListener('click', () => {
            const popUpSuccess = document.querySelector('.alert');
            popupCamera.style.display = 'none';
            popUpSuccess.style.display = 'block';
        })

        const setNameToAll = () => {
            fetch('/get-cam-name')
                .then(res => res.json())
                .then(data => {
                    const camList = document.querySelectorAll('.cam-name');
                    camList.forEach((elementCam, index) => {
                        elementCam.innerText = Object.values(data)[index + 1];
                    })
                });
        }
        setNameToAll();

        const editButton = document.querySelectorAll('.edit-name-btn');
        var elementToChangeName;
        var editInput;
        editButton.forEach(elementBtn => {
            elementBtn.addEventListener('click', () => {
                editInput = elementBtn.nextElementSibling;
                elementToChangeName = elementBtn.previousElementSibling;
                editInput.classList.toggle('display');
            })
        })

        const sendButton = document.querySelectorAll('.send-name');
        sendButton.forEach(elementSendButton => {
            elementSendButton.addEventListener('click', () => {
                var inputValue = elementSendButton.previousElementSibling.value;
                console.log(elementToChangeName);
                var getCameraID = elementToChangeName.getAttribute("href").split("/").pop();
                console.log(getCameraID);
                // Shape of API
                console.log({ 'id': getCameraID, 'name': inputValue })
                changeName(elementToChangeName, inputValue);
                // API To change name
                changeNameAPI({ 'id': getCameraID, 'name': inputValue });
                elementToChangeName.classList.add('cam-name');
                editInput.classList.remove('display');
            })

        })

        const changeNameAPI = (name) => {
            fetch('/change-name', {
                method: "POST",
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(name)
            }).then(res => {
                console.log('completed changed name!');
            }).catch(err => console.log(err));
        }

        function changeName(element, name) {
            element.innerText = name;
        }

        let player1 = new JSMpeg.Player('ws://<%=streamHost%>:81', {
            canvas: document.getElementById('canvas-cam1'), // Canvas should be a canvas DOM element
            autoplay: true,
            audio: false,
        });
        let player2 = new JSMpeg.Player('ws://<%=streamHost%>:82', {
            canvas: document.getElementById('canvas-cam2'), // Canvas should be a canvas DOM element
            autoplay: true,
            audio: false,
        });
        let player3 = new JSMpeg.Player('ws://<%=streamHost%>:85', {
            canvas: document.getElementById('canvas-cam3'), // Canvas should be a canvas DOM element
            autoplay: true,
            audio: false,
        });
        let player4 = new JSMpeg.Player('ws://<%=streamHost%>:84', {
            canvas: document.getElementById('canvas-cam4'), // Canvas should be a canvas DOM element
            autoplay: true,
            audio: false,
        });
    </script>
</body>

</html>