<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="/styles.css">
    <title>Video Streaming With NodeJS</title>
</head>

<body>
    <div class="container-header indigo topBotomBordersOut">
        <a href="/">HOME</a>
        <a href="/cam/1">DETAIL</a>
        <a href="/record">RECORD</a>
    </div>
    <h1 style="font-size: 40px; font-weight: 600; text-align: center; padding-bottom: 0.5em">Record List</h1>
    <!-- <form action=""> -->
    <div class="container-time" style="text-align: center; padding-top: 0.5em">
        <label for="birthdaytime" style="font-size: 20px;">Date and Time:</label>
        <input type="datetime-local" id="startTime" name="starttime">
        <input type="datetime-local" id="endTime" name="endtime">
        <button class="add-camera" id="submitTime">
            <div class="pretext">
                <i class="fa-solid fa-paper-plane-top"></i><span class="change-name">Submit</span>
            </div>
        </button>
    </div>
    <!-- </form> -->
    <div class="container-video" style="text-align: center; padding-top: 2em">
        <video id="videoPlayer" width="50%" controls muted="muted" autoplay>
            <source type="video/mp4" id="sourceVideo" src="/video" />
        </video>
    </div>

    <div id="List_file">
        <ul id="List_file1">
        </ul>
    </div>
</body>
<script>
    //var name = sessionStorage.getItem('name');
    //if (name != "undefined" && name != "null") {
    //}
    //else
    //    document.location.href = '/login';
    var video = document.getElementsByTagName("video");
    console.log(video[0].currentTime);
    if (video[0].duration) {
        console.log('Playing');
        document.getElementsByClassName('change-name').innerText = 'Download';
    }
    else {
        console.log(video[0].duration)
    }

    function getStartEndTime() {
        const startTime = document.getElementById('startTime').value;
        const endTime = document.getElementById('endTime').value;
        console.log(startTime, endTime);
        const timeChosen = startTime.split('T');
        const dayChosen = timeChosen[0]
        console.log(dayChosen);
        const hourChosen = timeChosen[1].split(':')[0];
        console.log(dayChosen, hourChosen);
        // Coi nhu da co folder, check sau (SE CHECK)
        // 0h check
        return { dayChosen, hourChosen };
    }

    // Check if user clicked!
    var dataDate = '';
    const buttonDateClicked = document.getElementById('submitTime');
    buttonDateClicked.addEventListener('click', () => {
        dataDate = getStartEndTime();
        console.log(dataDate);

        // Send post request to back-end
        fetch('/add-time', {
            method: "POST",
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(dataDate)
        }).then(res => {
            console.log('Post completed!');
            showListRecord();
        }).catch(err => console.log(err));
    })


    // Coi nhu da co folder, check sau (SE CHECK)
    // 0h check

    async function showListRecord() {
        var List_record = await fetch("/video-record");
        List_record = await List_record.json();

        console.log(List_record.dataRecord);

        const element = document.getElementById("List_file1");
        for (let i = 0; i < List_record.dataRecord.length; i++) {
            var k = List_record.dataRecord[i];
            const li = document.createElement("li");
            const atag = document.createElement("a");
            const nodeData = document.createTextNode(k);

            // tao them id cho atag nhe
            atag.appendChild(nodeData);
            atag.setAttribute('href', '/record');
            atag.setAttribute('target', '_blank');
            li.appendChild(atag);
            element.appendChild(li);
            // atag.setAttribute('href', 'video');
        }

        clickToGetVideo();
    }
    function clickToGetVideo() {
        const test = document.getElementsByTagName('a');
        console.log(test);
        if (test.length != 0) {
            var arr = Array.from(test);
            arr.forEach(video => {
                video.addEventListener('click', () => {
                    console.log(video.innerText);
                    const dataName = video.innerText;

                    // Send post request to back-end
                    fetch('/video1', {
                        method: "POST",
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({ dataName })
                    }).then(res => {
                        console.log('Post completed1!', res);
                        return fetch('/video');
                    }).then(() => {
                        // document.getElementById('sourceVideo').setAttribute('src', '/video');
                        const videoPlayer = document.getElementById('videoPlayer');
                        videoPlayer.load();
                    })
                        .catch(err => console.log(err))
                })

            });
        }
    }

</script>

</html>