<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Login</title>
</head>

<body>
    <div id="password-popup">
        <ul>
            <li>
                <h1>Login</h1>
            </li>
            <li>
                <label for="username-txt">Username:</label>
            </li>
            <li>
                <input type="text" id="username-txt" />
            </li>
            <li>
                <label for="password-txt">Password:</label>
            </li>
            <li>
                <input type="password" id="password-txt" />
            </li>
            <li>
                <span id="login-msg"></span>
            </li>
            <div>
                <button id="Create-account"> <a href="/register.html"> Create account </a> </button>
                <button id="login-button">Login</button>
            </div>
        </ul>
    </div>
    <script src="/login.js"></script>
</body>

</html>