@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@200;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --color-background: #dbedf1;
    --color-blue-text: #0333d3;
    --color-red-text: #ff0040;
    --color-text: #1d1d1d;
    --color-green-line: #3eb63c;
    --color-blue-line: #3da0b4;
    --color-button: #1365f4;
    --color-button-hover: #186dff;
    --gird-width: 30px;
    --gird-height: 30px;
    --line-color: #999;
    --dot-color: #ccc;
    --dot-size: 2px;
    --point-gap-width: calc(var(--gird-width) * 4);
    --point-gap-height: calc(var(--gird-height) * 4);
}

body {
    font-size: 14px;
    color: var(--color-text);
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}

/* Background color */


.grid-bg {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.ba-grid {
    position: relative;
    z-index: 1;

    background-image:
        /*     radial-gradient(ellipse at center, #2883b6 0%, #084688 100%), */
        radial-gradient(ellipse at bottom left, rgba(104, 128, 138, 0.4) 10%, rgba(138, 114, 76, 0) 40%),
        linear-gradient(to bottom, rgba(57, 173, 219, .25), rgba(42, 60, 87, 0.4)),
        linear-gradient(135deg, #670d10, #092756);
}


.ba-grid:before,
.ba-grid:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    mix-blend-mode: overlay;
}

.ba-grid:before {
    background-image:
        linear-gradient(var(--line-color), transparent 1px),
        linear-gradient(to right, var(--line-color), transparent 1px);
    background-size:
        100% var(--gird-height),
        var(--gird-width) 100%;
}

.ba-grid:after {
    background-image: radial-gradient(var(--dot-color) 1px, transparent 1px);
    background-size: var(--point-gap-width) var(--point-gap-height);
    background-position: calc(var(--point-gap-width) / 2) calc(var(--point-gap-height) / 2);
}



.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

/* .container_mainpage {
    background: #2a9df4;
    color: white !important;
} */

h1 {
    font-weight: 400;
}

.table-controller {
    background-color: rgb(151, 188, 255);
    padding: 10px 0;
    border-radius: 30px;
    z-index: 100;
    /* opacity: 0.7; */
    color: #000000;
}

#main {
    margin: 10px auto 0 auto;
    width: 500px;
}

.displayer-name {
    font-size: 24px;
    font-weight: normal;
    /* color: #6B6E70; */
    text-align: center;
}

.displayer {
    font-size: 35px;
    /* font-weight: lighter; */
    /* color: #d4d4d4; */
    text-align: center;
    margin: 5px 0;
}

#main>table {
    width: 500px;
}

#main>table>tr>td {
    width: 250px;
}

.button-name {
    font-size: 20px;
    font-weight: normal;
    /* color: #DEF2F1; */
    text-align: center;
    margin-top: 10px;
}


.switch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 60px;
    margin: 10px 73px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 0 2px 3px rgb(48, 48, 48);
    font-size: 40px;
    padding: 5px 0;
    text-align: center;
}

.slider:before {
    content: "power_settings_new";
    font-family: "Material Icons";
    -webkit-transition: .02s;
    transition: .02s;
    color: gray;
}

input:checked+.slider {
    box-shadow: 0 0 2px rgb(49, 49, 83);
}

input:checked+.slider:before {
    color: #0140ec;
}

/* .footer{
background:#3b3a33;
width:100%;
height:80px;
font-size: 25px;
position:absolute;
bottom:0;
left:0;
text-align: center;
} */

#time {
    margin: 5px auto;
    width: 500px;
    padding: 10px auto;
    /* font-family: consolas; */
    font-size: 35px;
    /* color: #d6d6d6; */
    border-radius: 10px;
    text-align: center;
    /* font-weight: bold; */
}

#Title {
    margin: 0px auto;
    width: 500px;
    padding: 10px auto;
    /* font-family: segeo UI; */
    font-size: 16px;
    /* color: rgb(243, 237, 226); */
    border-radius: 10px;
    text-align: center;
    font-weight: 100;
}

/* #Footer{
margin: 20px auto;
width: 500px;
padding: 10px auto;
font-family: verdana;
font-size: 20px;
color: rgb(221, 214, 200);
border-radius: 10px;
text-align: center;
font-weight: bold;
font-family: Segoe UI;
text-decoration: none;
}
#Footer>h4>a{
color:rgb(221, 214, 200)!important; 
text-decoration: none;
}
#Footer>h4>a:hover{
color:rgb(34, 122, 255)!important;
} */

.container_mic {
    padding-top: 6px;
    padding-bottom: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.circle_mic {
    width: 60px;
    height: 60px;
    background-color: beige;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.circle_mic:hover {
    background-color: #2e3b85;
    /* transition-duration: 5s; */
}


.mic {
    height: 35px;
    margin-top: 12px;
}

.mic:hover {
    cursor: pointer;
}

/* Toast Message */
#light-1,
#light-2,
#fan-1,
#engine-1,
#light-1off,
#light-2off,
#fan-1off,
#engine-1off {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #ffffff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#light-1.show,
#light-2.show,
#fan-1.show,
#engine-1.show,
#light-1off.show,
#light-2off.show,
#fan-1off.show,
#engine-1off.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

#transcript {
    visibility: hidden;
    min-width: 260px;
    margin-left: -125px;
    background: #4e2e2e;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    left: 48%;
    font-size: 16px;
    top: 65px;
}

@media screen and (min-width: 600px) {
    .stop-area {
        display: none;
    }
}

#password-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: #12c2e9;
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
}

#password-popup>ul {
    display: block;
    list-style: none;
    width: 375px;
    height: 370px;
    margin: 200px auto 0 auto;
    background: white;
    border-radius: 5px;
    padding: 30px;
    box-sizing: border-box;
}

#password-popup>ul>li>h1 {
    text-align: center;
    margin-bottom: 24px;
}

#password-popup>ul>li>label {
    text-align: center;
    font-size: 14px;
}

#password-popup>ul>li>input {
    font-size: 14px;
    margin-top: 7px;
    margin-bottom: 12px;
    padding: 8px 15px;
    width: 315px;
    box-sizing: border-box;
}

#password-popup>ul>div {
    display: flex;
    justify-content: space-between;
    margin: 20px auto auto auto;
}

#password-popup>ul>div>button {
    border: none;
    background: #4f29d9;
    color: #ffffff;
    font-size: 18px;
    padding: 10px;
    width: 120px;
    border-radius: 3px;
    box-sizing: border-box;
    /* margin: 10px 15px 0px 85px; */
    transition: 0.2s;
    cursor: pointer;
}

#password-popup>ul>div>button:hover {
    background: rgb(3, 189, 111);
}

#password-popup>ul>div>button:active {
    background: rgb(6, 160, 96);
}

#password-popup>ul>div>#Create-account {
    border: none;
    background: #ffffff;
    color: white;
    font-size: 18px;
    padding: 5px;
    width: 135px;
    border-radius: 3px;
    box-sizing: border-box;
    /* margin: 10px 0px 0px -5px; */
    transition: 0.2s;
    cursor: pointer;
    /* text-align: left; */
}

#password-popup>ul>div>#Create-account>a {
    text-decoration: none;
    color: #4f29d9;
}

#password-popup>ul>div>#Create-account:hover {
    background: rgb(212, 223, 219);
}

#login-msg {
    color: rgb(196, 7, 7);
    font-style: italic;
}

.hide-animation-class {
    animation-name: mymove;
    animation-duration: 1s;
}

@keyframes mymove {
    from {
        top: 0%;
    }

    to {
        top: -100%;
    }
}

.hide {
    display: none;
}


#register {
    position: fixed;
    background: #12c2e9;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
}

#register>ul {
    display: block;
    list-style: none;
    width: 375px;
    height: 510px;
    margin: 100px auto 0 auto;
    background: white;
    border-radius: 5px;
    padding: 30px;
    box-sizing: border-box;
}

#register>ul>li>h1 {
    text-align: center;
    margin-bottom: 24px;
}

#register>ul>li>label {
    text-align: center;
    font-size: 14px;
}

#register>ul>li>input {
    font-size: 14px;
    margin-top: 7px;
    margin-bottom: 12px;
    padding: 8px 15px;
    width: 315px;
    box-sizing: border-box;
}

#checkuser {
    color: rgb(232 19 19);
    font-style: italic;
}

#register>ul>div {
    display: flex;
    justify-content: space-between;
    margin: 12px auto auto auto;
}

#register>ul>div>#Signin-instead {
    border: none;
    background: #ffffff;
    color: white;
    font-size: 18px;
    padding: 5px;
    width: 130px;
    border-radius: 3px;
    box-sizing: border-box;
    /* margin: 10px 0px 0px -5px; */
    transition: 0.2s;
    cursor: pointer;
}

#register>ul>div>#Signin-instead>a {
    text-decoration: none;
    color: #4f29d9;
}

#register>ul>div>#Signin-instead:hover {
    background: rgb(212, 223, 219);
}

#register>ul>div>button {
    border: none;
    background: #4f29d9;
    color: #ffffff;
    font-size: 18px;
    padding: 10px;
    width: 125px;
    border-radius: 3px;
    box-sizing: border-box;
    /* margin: 10px 15px 0px 85px; */
    transition: 0.2s;
    cursor: pointer;
}

#register>ul>div>button:hover {
    background: rgb(3, 189, 111);
}

#register>ul>div>button:active {
    background: rgb(6, 160, 96);
}

#register>ul>li>#checkbox {
    padding: 0px 0px;
    width: 20px;
    box-sizing: border-box;
    font-size: 20px;
    height: 18px;
}

#register>ul>li>p {
    font-size: 13px;
    font-style: italic;
    margin: -31px 2px 6px 24px;
    display: block;
    list-style: none;
}