<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Streaming With Node</title>
    <style>
        body {
            margin: 5% auto;
            max-width: 100%;
            /* background-color: rgb(14, 14, 14); */
            padding-top: 10%;
            padding-left: 35%;
        }
    </style>
</head>

<body>
    <!-- <form action=""> -->
    <label for="birthdaytime">Birthday (date and time):</label>
    <input type="datetime-local" id="startTime" name="starttime">
    <input type="datetime-local" id="endTime" name="endtime">
    <button id="submitTime" onclick="getStartEndTime()">Submit</button>
    <!-- </form> -->
    <video id="videoPlayer" width="50%" controls muted="muted" autoplay>
        <source src="/video" type="video/mp4" />
    </video>

    <div id="List_file">
        <li id="List_file1">

        </li>
    </div>

</body>
<script>

    function getStartEndTime() {
        const startTime = document.getElementById('startTime').value;
        const endTime = document.getElementById('endTime').value;
        console.log(startTime, endTime);
        const timeChosen = startTime.split('T');
        const dayChosen = timeChosen[0]
        console.log(dayChosen);
        const hourChosen = timeChosen[1].split(':')[0];
        console.log(dayChosen, hourChosen);
        // Coi nhu da co folder, check sau (SE CHECK)
        // 0h check
        return { dayChosen, hourChosen };
    }

    // Check if user clicked!
    var dataDate = '';
    const buttonDateClicked = document.getElementById('submitTime');
    buttonDateClicked.addEventListener('click', () => {
        dataDate = getStartEndTime();
        console.log(dataDate);

        // Send post request to back-end
        fetch('/add-time', {
            method: "POST",
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(dataDate)
        }).then(res => {
            console.log('Post completed!');
        }).catch(err => console.log(err));
    })


    // Coi nhu da co folder, check sau (SE CHECK)
    // 0h check

    var List_record = await fetch("/video-record");
    List_record = await List_record.json();

    console.log("abc" + List_record);

    const element = document.getElementById("List_file");
    for (let i = 0; i < List_record.dataRecord.length; i++) {
        var k = List_record.dataRecord[i];
        element.appendChild(k);
    }

</script>

</html>